:root {
	--background: hsl(219 33% 10%);
	--background-accent: hsl(204 97% 12%);
	--foreground: hsl(240 26% 74%);
	--foreground-accent: hsl(215 100% 95%);
	--accent: hsl(207 95% 8%);
	--backdrop: 204 97% 12%;
	--brand: hsl(16 100% 50%);

	--bx-sh-raised: hsla(219, 33%, 10%, 0.16) 0px 3px 6px,
		hsla(219, 33%, 10%, 0.23) 0px 3px 6px;
	--bx-sh-light: hsla(219, 33%, 10%, 0.18) 0px 2px 4px;

	--ff-secondary: 'Open Sans', sans-serif;

	--gap-alpha: 5rem;
	--gap-bravo: 4rem;
	--gap-charlie: 3rem;
	--gap-delta: 2rem;
	--gap-echo: 1rem;
	--gap-foxtrot: 0.5rem;
	--gap-golf: 0.3rem;

	--border-rad: 0.4rem;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

html:focus-within {
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* Set core root defaults */

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.5rem;
	min-height: 100vh;

	background-color: var(--background);
	color: var(--foreground);

	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration-skip-ink: auto;
	text-decoration: none;
	color: inherit;
}

img,
picture {
	max-width: 100%;
	display: block;
	height: auto;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	background: inherit;
	border: 0;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	cursor: pointer;
}

/* Style placeholder */

::placeholder {
	color: var(--foreground);
	opacity: 1;
	font-size: inherit;
}

:-ms-input-placeholder {
	color: var(--foreground);
}

::-ms-input-placeholder {
	color: var(--foreground);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*////////////////////// utilities //////////////////////*/
.ht1 {
	font-size: 5rem;
	font-weight: 900;
	letter-spacing: 0.1rem;
	line-height: 6rem;
	margin-left: -0.25rem;
}

.ht2 {
	font-size: 4rem;
	font-weight: 900;
	letter-spacing: 0.08rem;
	line-height: 5rem;
	margin-left: -0.25rem;
}

.ht3 {
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: 0.05rem;
	line-height: 3.7rem;
}

.ht4 {
	font-size: 2.5rem;
	font-weight: 900;
	letter-spacing: 0.05rem;
	line-height: 3.2rem;
	/* margin-left: -.14rem; */
}

.ht5 {
	font-size: 2rem;
	font-weight: 800;
	letter-spacing: 0.04rem;
	line-height: 2.7rem;
}

.ht6 {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 0.04rem;
	line-height: 2.5rem;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-basis {
	display: flex;
	flex-wrap: wrap;
}

.flex-basis > * {
	flex-basis: 100%;
}

.flow > * + * {
	margin-top: var(--flow-spacer, 1rem);
}

.justy {
	text-align: justify;
}

.just-right {
	text-align: right;
}

.just-center {
	text-align: center;
}

.title {
	margin-bottom: -1.5rem;
}
.brand {
	color: var(--brand);
}
.subtitle {
	color: var(--title);
}

.italic {
	font-style: italic;
}

.svgFill {
	fill: var(--foreground);
}
.svg-brand {
	color: var(--brand);
	height: 2rem;
}
.capitalize {
	text-transform: capitalize;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	font: inherit;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn-inline {
	border-bottom: 1px solid var(--brand);
	transition: all 200ms;
}
.btn-inline svg {
	transition: color 200ms;
}

.btn-inline:hover,
.btn-inline:focus-within {
	border-bottom: 1px solid var(--foreground);
}
.btn-inline:hover svg,
.btn-inline:focus-within svg {
	color: var(--foreground);
}
@media (max-width: 850px) {
	.inline-snap {
		overflow-x: auto;
		overscroll-behavior-inline: contain;
		-ms-scroll-snap-type: inline mandatory;
		scroll-snap-type: inline mandatory;
		/* scroll-padding-inline: 2rem; */
	}

	.inline-snap > * {
		scroll-snap-align: start;
	}

	::-webkit-scrollbar {
		width: 0.4em;
		height: 0.3em;
	}

	::-webkit-scrollbar-track {
		background: var(--background);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--foreground);
		border-radius: 100vw;
	}

	@supports (scrollbar-color: var(--brand) var(--background)) {
		* {
			scrollbar-color: var(--brand) var(--background);
		}
	}
}

/*////////////////////// forms //////////////////////*/

input,
button,
textarea,
select {
	font-size: 1.6rem;
}

input,
label,
select {
	display: block;
}

/* label {
	margin-bottom: 0.5rem;
} */

input,
textarea {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

input,
textarea,
select {
	/* margin-bottom: 2rem; */
	width: 100%;
	border-radius: 0.25rem;
}

input:focus-within,
textarea:focus-within {
	outline: 0.1rem solid var(--accent);
}

textarea {
	min-height: 12rem;
}

/* Choosing a file */

input[type='file']::-ms-browse {
	border: none;
	padding: 0.5rem;
	border-radius: var(--border-rad);
	background-color: var(--brand);
}

input[type='file']::-webkit-file-upload-button {
	border: none;
	padding: 0.5rem;
	border-radius: var(--border-rad);
	background-color: var(--brand);
	transition: 1s;
}

input[type='file']::file-selector-button {
	border: none;
	padding: 0.5rem;
	border-radius: var(--border-rad);
	background-color: var(--brand);
	transition: 1s;
}

input[type='file']::-ms-browse:hover {
	background-color: var(--accent);
}

input[type='file']::-webkit-file-upload-button:hover {
	background-color: var(--accent);
}

input[type='file']::file-selector-button:hover {
	background-color: var(--accent);
}

/*////////////////////// tooltip //////////////////////*/

.aria-right,
.aria-left {
	position: relative;
}

.aria-left::after,
.aria-right::after {
	content: attr(aria-label);
	position: absolute;
	color: var(--brand);
	background: var(--background);
	width: max-content;

	top: -125%;
	margin: 0 auto;
	padding: 0.1rem 2rem 0.2rem;
	font-size: 1.4rem;
	font-weight: 800;
	border-radius: 0.7rem;
	opacity: 0;
	transform: scale(0);
	transform-origin: top;
	transition: transform 0ms linear 100ms, opacity 100ms linear;
}

.aria-left::after {
	left: 0;
}

.aria-right::after {
	right: 0;
}

.aria-right:hover::after,
.aria-left:hover::after,
.aria-right:focus-visible::after,
.aria-left:focus-visible::after {
	opacity: 0.5;
	transform: scale(1);
	transition: transform 70ms linear, opacity 70ms linear;
}

/*////////////////////// Laypout //////////////////////*/
#__next {
	min-height: 100vh;
	display: -ms-grid;
	display: grid;
	gap: var(--gap-bravo);
	align-content: stretch;
}

.centered {
	width: min(90%, 1440px);
	display: -ms-grid;
	display: grid;
	gap: var(--gap-charlie);
	margin-left: auto;
	margin-right: auto;
}
.content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-charlie);
}
header.header {
	align-self: start;
	width: min(90%, 1440px);
	display: flex;
	margin: 0 auto;
	padding-top: var(--gap-charlie);
	letter-spacing: 0.01rem;
	/* gap: var(--gap-charlie); */
}

main {
	align-self: start;
}

footer {
	align-self: end;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: var(--gap-echo);
	padding-bottom: var(--gap-charlie);
}

/* ?????????????? Ooops ??????????????/ */
.oops {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.oops .oops-link {
	color: var(--brand);
}

/* /////////////////////////// Header //////////////////// */
header.header .nav,
header.header .download {
	display: flex;
	align-items: center;
}
header.header .logo {
	width: var(--gap-charlie);
}

header.header .nav {
	margin-left: auto;
	gap: var(--gap-charlie);
}

header.header .download {
	gap: var(--gap-echo);
	border: 0.2px solid var(--brand);
	padding: var(--gap-foxtrot);
	border-radius: 2px;
}

/* /////////////////////////// Footer //////////////////// */

footer .social-links {
	display: flex;
	justify-content: center;
	gap: var(--gap-charlie);
}

footer .social-links a {
	display: flex;
	transition: transform 600ms cubic-bezier(0, 1.6, 0.69, 0.69);
}

footer .social-links a:hover {
	transform: translateY(-0.1rem) scale(1.01);
	box-shadow: var(--bx-sh-raised);
}

footer .social-links a:active {
	transform: translateY(0) scale(1);
	box-shadow: var(--bx-sh-light);
}

footer .credit a {
	color: var(--brand);
}

footer :target .social-links {
	width: max-content;
	margin: 0 auto;
	border: 1px solid var(--brand);
	border-radius: var(--border-rad);
	padding: 1rem;
}

/* /////////////////////////// Queries //////////////////// */

@media (max-width: 1000px) {
	html {
		font-size: 59.375%;
	}
}

@media (max-width: 850px) {
	html {
		font-size: 56.25%;
	}
}

@media (max-width: 650px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 500px) {
	header.header span {
		display: none;
	}

	header.header .download {
		padding: var(--gap-foxtrot) var(--gap-echo);
	}

	header.header .download::after {
		content: 'CV';
		font-weight: 800;
		letter-spacing: 0.2rem;
	}
}
@media (max-width: 380px) {
	header.header .nav {
		gap: var(--gap-echo);
	}
}
