.hero {
	overflow: hidden;
	position: relative;
}
.heroIntro,
.heroContact {
	line-height: normal;
}
.hero .title {
	color: var(--foreground-accent);
	line-height: normal;
}

.hero .text {
	justify-content: center;
	align-items: flex-start;
	z-index: 0;
}
.hero .style {
	display: flex;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
}
.hero .textP {
	max-width: 51.2ch;
	font-size: 2.2rem;
	font-weight: 600;
}
.hero .style svg {
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 50%;
	width: 100%;
}

.morePs {
	align-self: center;
	margin-top: -2rem;
}

@media only screen and (max-width: 64em) {
	/* 1024px */
	.hero .style svg {
		opacity: 0.3;
	}
}

@media only screen and (max-width: 50em) {
	/* 800px */
	.heroIntro {
		font-size: 3.6rem;
	}
	.hero .title {
		font-size: 4.6rem;
	}
	.hero .style svg {
		opacity: 0.2;
	}
}
@media only screen and (max-width: 46.25em) {
	/* 740px */
	.heroIntro {
		font-size: 3.6rem;
	}
	.hero .title {
		font-size: 4.4rem;
	}
	.hero .textP {
		max-width: 45ch;
	}
}
@media only screen and (max-width: 44.25em) {
	/* 708px */
	.heroIntro {
		font-size: 3rem;
	}
	.hero .title {
		font-size: 4rem;
	}
}
@media only screen and (max-width: 38.125em) {
	/* 610px */
	.heroIntro {
		font-size: 2.8rem;
		margin-left: 0;
	}
	.hero .title {
		font-size: 3.8rem;
		margin-left: 0;
	}
	.hero .textP {
		max-width: 43ch;
	}
}
@media only screen and (max-width: 36.5em) {
	/* 584px */
	.heroIntro {
		font-size: 2.6rem;
	}
	.hero .title {
		font-size: 3.6rem;
	}
	.hero .textP {
		max-width: 42ch;
	}
}
@media only screen and (max-width: 34.5em) {
	/* 552px */
	.hero .title {
		letter-spacing: 0.12rem;
	}
}
@media only screen and (max-width: 32.25em) {
	/* 516px */
	.hero .title {
		font-size: 3.5rem;
	}
	.hero .textP {
		max-width: 36ch;
	}
}
@media only screen and (max-width: 31.25em) {
	/* 500px */
	.hero .title {
		font-size: 3.2rem;
	}
}
@media only screen and (max-width: 28.625em) {
	/* 458px */
	.heroIntro {
		font-size: 2.5rem;
	}
	.hero .title {
		font-size: 3rem;
	}
}
@media only screen and (max-width: 25.125em) {
	/* 402px */
	.heroIntro {
		font-size: 3rem;
	}
	.hero .title {
		font-size: 5rem;
	}
	.hero .big_s {
		display: none;
	}
	.hero .small_s::after {
		content: 'Ejimkaraonye, C';
	}
}
@media only screen and (max-width: 22.25em) {
	/* 356px */
	.hero .style svg {
		opacity: 0.1;
	}
	.heroIntro {
		font-size: 2.8rem;
	}
	.hero .title {
		font-size: 4.5rem;
	}
}
@media only screen and (max-width: 20em) {
	/* 320px */
	.heroIntro {
		font-size: 2.5rem;
	}
	.hero .title {
		font-size: 4.2rem;
	}
}
