.hero {
	overflow: hidden;
	position: relative;
}

.hero .title {
	color: var(--foreground-accent);
	font-size: 5rem;
	font-weight: 900;
	letter-spacing: 0.1rem;
	line-height: 6rem;
	margin-left: -0.25rem;
}

.hero .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: var(--gap-echo);
	min-height: 40rem;
	position: inherit;
	z-index: 0;
}
.hero .style {
	display: flex;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
}
.hero .textP,
.heroContact {
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: 0.05rem;
	line-height: 3.7rem;
}
.hero .textP {
	max-width: 35ch;
}

.heroContact {
	margin-top: 0.5rem;
	color: var(--foreground-accent);
}
.hero .style svg {
	height: 40rem;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 50%;
}

.morePs {
	align-self: center;
	margin-top: -2rem;
}

@media (max-width: 1024px) {
	.hero .title {
		font-size: 4rem;
		letter-spacing: 0.08rem;
		line-height: 5rem;
	}
	.hero .textP,
	.heroContact {
		font-size: 2.5rem;
		line-height: 3.2rem;
	}

	.hero .text {
		min-height: 30rem;
	}
	.hero .style svg {
		height: 30rem;
		opacity: 0.3;
	}
}

@media (max-width: 520px) {
	.hero .title {
		font-size: 3.2rem;
		line-height: 4rem;
	}
	.hero .textP {
		font-weight: 800;
	}
	.hero .style svg {
		opacity: 0.2;
	}
	.hero .textP,
	.heroContact {
		font-size: 2.2rem;
		letter-spacing: 0.04rem;
		line-height: 3rem;
	}
	.heroContact {
		margin-top: -0.1rem;
	}
}
@media (max-width: 419px) {
	.hero .title {
		font-size: 3rem;
		letter-spacing: 0.05rem;
		line-height: 3.7rem;
		margin-left: 0;
	}
	.hero .textP,
	.heroContact {
		font-size: 2rem;
		line-height: 2.7rem;
	}
}
@media (max-width: 389px) {
	.hero .style svg {
		height: 14rem;
		opacity: 0.1;
	}
}
